<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Предсказание глубины и ширины сварного соединения</h1>
{% if prediction %}
<p>{{ prediction }}</p>
{% endif %}
<form action="" method="post">
    <p>
        <label for="IW">IW</label>
        <input type="text" name="IW">
    </p>

    <p>
        <label for="IF">IF</label>
        <input type="text" name="IF">
    </p>

    <p>
        <label for="VW">VW</label>
        <input type="text" name="VW">
    </p>

    <p>
        <label for="FP">FP</label>
        <input type="text" name="FP">
    </p>
    <p>
    <input type="submit">
    </p>

    </form>
</body>
</html>